<div class="tableContainer">
<table class="table table-hover table-striped scrollTable">
  <thead class="fixedHeader">
    <tr>
      <th>
        <div class="table-description">SM Deployment</div>
        <div class="table-subs">TRX</div>
        <div class="table-subs">SU</div>
        <div class="table-subs">RCS</div>
        <div class="table-subs">BCS</div>
        <div class="table-subs">ECS</div>
      </th>
    </tr>
  </thead>
  <tbody class="scrollContent">
    <tr ng-repeat="result in getConfigurations | config" ng-click="handleOutputEvent(result,$index)"
    ng-class=" selectedRow==$index ? 'table-selected' : '' ">
      <td>
        <div class="table-description">
          {{displaySMDeployment(result.smDeployment,0)}}<br>
          {{displaySMDeployment(result.smDeployment,1)}}
        </div>
        <div class="table-subs">{{result.smMode.gsm.bbCapacity}}</div>
        <div class="table-subs">{{result.smMode.wcdma.bbCapacity}}</div>
        <div class="table-subs">{{result.smMode.lte.bbCapacity.rcs}}</div>
        <div class="table-subs">{{result.smMode.lte.bbCapacity.bcs}}</div>
        <div class="table-subs">{{result.smMode.lte.bbCapacity.ecs}}</div>
      </td>
    </tr>
  </tbody>
</table>
