<!DOCTYPE html>
<html lang="en" ng-app="configurationSelector">
<head>
  <link rel="stylesheet" href="css/bootstrapOcean.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap-switch.min.css">
</head>
<body>
  <div class="container-fluid" ng-controller="FilterController">
    <div class="row">
      <div class="col-md-4">
        <uploaded-configurations-panel></uploaded-configurations-panel>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-filter"></span>
                Configuration Filters
              </div>
              <div class="panel-body">
                <div class="col-md-12">
                  <h6>RADIO ACCESS TECHNOLOGY</h6>
                  <technologies></technologies>
                </div>
                <div class="col-md-12"><br/>
                  <h6>DEPLOYMENTS</h6>
                  <div class="row">
                    <div class="col-md-6 system-module">
                      <system-module deployment='0'></system-module>
                    </div>
                    <div class="col-md-6 system-module">
                      <button class="btn-xs btn-secondary btn-block pull-right rounded-border ob-box-height2" title="Add Deployment"
                        ng-hide="filterObject.smDeployment.length != 1" ng-click="clearDisplayData();addDeployment()">
                        <span class="glyphicon glyphicon-plus"></span>
                      </button>
                      <button class="btn-xs btn-link pull-right" title="Remove Deployment"
                        ng-show="filterObject.smDeployment.length > 1" ng-click="clearDisplayData();removeDeployment()">
                        <span class="glyphicon glyphicon-minus"></span>
                      </button>
                      <system-module deployment="1" ng-if="filterObject.smDeployment.length >= 2"></system-module>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-search"></span>
            Search results
          </div>
          <div class="panel-body">
            <div class="row padded-output">
              <main-output></main-output>
            </div>
            <div class="row padded-output">
              <configurations></configurations>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/jquery.1.11.3.min.js"></script>
  <script src="js/lodash.min.js"></script>
  <script src="js/angular.1.2.20.min.js"></script>
  <script src="js/angular-animate.min.js"></script>
  <script src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
  <script src="js/dev/mock-data.js"></script>
  <script src="js/dev/configuration-service.js"></script>
  <script src="js/dev/main.js"></script>
  <script src="js/dev/upload.js"></script>
</body>
</html>
