<div class="sm-box well" >
  <button class="btn-sm btn-primary fsmf" disabled>FMSF</button>
  <span class="dropdown">
    <button class="btn-sm btn-primary dropdown-toggle extension"
      type="button" id="sm-extension-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      {{ getSelectedExtension(0,0) }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="sm-extension-1">
      <li ng-repeat="option in extensionOptions"><a href="" ng-click="setSelectedExtension(0,0,option)">{{ option }}</a></li>
    </ul>
  </span>
  <span class="dropdown">
    <button class="btn-sm btn-primary dropdown-toggle extension"
      type="button" id="sm-extension-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      {{ getSelectedExtension(0,1) }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="sm-extension-2">
      <li ng-repeat="option in extensionOptions"><a href="" ng-click="setSelectedExtension(0,1,option)">{{ option }}</a></li>
    </ul>
  </span>
</div>
