  <div class="col-md-4">
    <div class="" data-toggle="buttons">
      <label class="btn btn-md btn-success active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked>
          <span class="glyphicon glyphicon-check"></span>
          LTE
      </label>
      <label class="btn btn-md btn-danger">
          <input type="radio" name="options" id="option2" autocomplete="off">
          <span class="glyphicon glyphicon-unchecked"></span>
          LTE
      </label>
    </div>
    <select></select>
  </div>
  <div class="col-md-4">
    <div class="" data-toggle="buttons">
      <label class="btn btn-md btn-success active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked>
          <span class="glyphicon glyphicon-check"></span>
          WCDMA
      </label>
      <label class="btn btn-md btn-danger">
          <input type="radio" name="options" id="option2" autocomplete="off">
          <span class="glyphicon glyphicon-unchecked"></span>
          WCDMA
      </label>
    </div>
    <select></select>
  </div>
  <div class="col-md-4">
    <div class="" data-toggle="buttons">
      <label class="btn btn-md btn-success active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked>
          <span class="glyphicon glyphicon-check"></span>
          GSM
      </label>
      <label class="btn btn-md btn-danger">
          <input type="radio" name="options" id="option2" autocomplete="off">
          <span class="glyphicon glyphicon-unchecked"></span>
          GSM
      </label>
    </div>
    <select></select>
  </div>

  <br><br><br><br>

<h4>Baseband Capacity</h4>
  <div class="row">
    <div class="col-md-6">
      <h5>LTE</h5>
      <div class="row">
        <select class="btn btn-info">
          <option value="" selected disabled>#RCS</option>
          <option ng-repeat="option in getBBCapacityValuesForLTE()" value="{{ option.bbVal }}">{{ option.bbVal }}</option>
        </select >
        <select class="btn btn-info">
          <option value="" selected disabled>#BCS</option>
          <option ng-repeat="option in getBBCapacityValuesForLTE()" value="{{ option.bbVal }}">{{ option.bbVal }}</option>
        </select>
        <select class="btn btn-info">
          <option value="" selected disabled>#ECS</option>
          <option ng-repeat="option in getBBCapacityValuesForLTE()" value="{{ option.bbVal }}">{{ option.bbVal }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <h5>WCDMA</h5>
      <select class="btn btn-info">
        <option value="" selected disabled>#SU</option>
        <option ng-repeat="option in getBBCapacityValuesForWCDMA()" value="{{ option.bbVal }}">{{ option.bbVal }}</option>
      </select>
    </div>
    <div class="col-md-3">
      <h5>GSM</h5>
      <select class="btn btn-info">
        <option value="" selected disabled>#TRXs</option>
        <option ng-repeat="option in getBBCapacityValuesForGSM()" value="{{ option.bbVal }}">{{ option.bbVal }}</option>
      </select>
    </div>
  </div>
