
<div class="col-md-12">
  <button class="btn btn-md btn-transparent" ng-click="toggleTechnology('lte')">
    <span class="glyphicon" ng-class="{true : 'glyphicon-check' , false : 'glyphicon-unchecked'}[filterObject.smMode.lte.enabled]"></span>
    LTE
  </button>
  <select class="btn btn-info">
    <option value="" selected disabled>#RCS</option>
    <option ng-repeat="option in getBBCapacityValuesForLTE()" value="{{ option }}">{{ option }}</option>
  </select >
  <select class="btn btn-info">
    <option value="" selected disabled>#BCS</option>
    <option ng-repeat="option in getBBCapacityValuesForLTE()" value="{{ option }}">{{ option }}</option>
  </select>
  <select class="btn btn-info">
    <option value="" selected disabled>#ECS</option>
    <option ng-repeat="option in getBBCapacityValuesForLTE()" value="{{ option }}">{{ option }}</option>
  </select>
</div>
<div class="col-md-12">
  <button class="btn btn-md" ng-click="toggleTechnology('wcdma')">
    <span class="glyphicon" ng-class="{true : 'glyphicon-check' , false : 'glyphicon-unchecked'}[filterObject.smMode.wcdma.enabled]"></span>
    WCDMA
  </button>
  <select class="btn btn-info">
    <option value="" selected disabled>#SU</option>
    <option ng-repeat="option in getBBCapacityValuesForWCDMA()" value="{{ option }}">{{ option }}</option>
  </select>
</div>
<div class="col-md-12">
  <button class="btn btn-md" ng-click="toggleTechnology('gsm')">
    <span class="glyphicon" ng-class="{true : 'glyphicon-check' , false : 'glyphicon-unchecked'}[filterObject.smMode.gsm.enabled]"></span>
    GSM
  </button>
  <select class="btn btn-info">
    <option value="" selected disabled>#TRXs</option>
    <option ng-repeat="option in getBBCapacityValuesForGSM()" value="{{ option }}">{{ option }}</option>
  </select>
</div>
