<div class="modal-header">
  <button type="button" class="close"
    ng-click="cancel()">&times;
  </button>
  <h3 class="modal-title"><span class="glyphicon glyphicon-upload"></span> Upload Configurations File</h4>
</div>
<form role="form" id="upload-form" name="uploadForm">
  <div class="modal-body">
    <div class="input-group">
      <span class="input-group-btn">
        <span class="btn btn-primary btn-file">
          <span class="glyphicon glyphicon-file"></span> Browse&hellip; <input type="file" file-model="myFile" accept=".csv" required>
        </span>
      </span>
      <input type="text" class="form-control" placeholder="Upload a csv file" readonly>
    </div>
  </div>
  <div class="modal-footer">
    <button id="uploadButton" type="button" class="btn btn-primary"
      disabled="disabled" ng-click="uploadFile()">Upload file</button>
    <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
  </div>
</form>
