
html, body, .container {
  height: 100% !important;
  width: 100%;
  padding: 0px;
}

.row {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.filters{
  height: 100%;
  padding: 0px;
}

/*row-technologies and row-system-module % sum must equal 100%*/
.row-technologies{
  height: 35%;
}

.row-system-module{
  height: 65%;
}

.configurations {
  background-color: gray;
  height: 100%;
}

.system-module {
  background-color: lightblue;
  height: 100%;
  width: 100%;
}

.system-module .sm-box {
  background-color: darkgrey;
  text-align: center;
  width: 95%;
}

.system-module .dropdown-toggle {
  background: transparent;
  font-size:14px;
}

.system-module .dropdown-menu {
  font-size:14px;
}

.system-module .dropdown-fsmf {
  width:99%;
}

.system-module .dropdown-extension {
  width:49%;
}

.technologies {
  background-color: blue;
  height: 100%;
  width: 100%;
  padding: 0;
}

.main-output {
  background-color: white;
  padding:3%;
  padding-top:1%;
}

.main-output-visual {
  background-color: white;
  padding: 2%;
}

.visual-1 {
  background-color: olive;
}
.visual-2 {
  background-color: cyan;
}

table {
        width: 100%;
    }

thead{
  width: 98%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;
}

tbody {
    height: 300px;
    overflow-y: auto;
}

thead {
}


tbody td, thead th {
    width: 100%;
    float: left;
}

/*table-subs and table-description weighted % sum must equal 100%*/
.table-subs{
  width: 8%;
  float: left;
}

.table-description{
  width: 42%;
  float: left;
}
