
html, body, .container {
  height: 100% !important;
}

.filters{
  height: 100%;
}

/*row-technologies and row-system-module % sum must equal 100%*/
.row-technologies{
  height: 45%;
}

.row-system-module{
  height: 55%;
}

.configurations {
  height: 100%;
}

.system-module {
  background-color: lightblue;
  text-align: center;
  height: 100%;
}

.system-module .sm-box {
  background-color: lightgrey;
  border-radius: 15px;
  border: 1px solid;
  font-size:14px;
  margin: 0 auto;
  width: 300px;
}

.system-module .extension {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
}

.system-module .dropdown-menu {
  margin-top: 5%;
}

.technologies {
  height: 100%;
}

.main-output {
}

.main-output-visual {
}

.visual-1 {
  background-color: lightgreen;
  height: 140px;
}
.visual-2 {
  background-color: lightblue;
  height: 140px;
}

table {
        width: 100%;
    }

thead{
  width: 98%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;
}

tbody {
    height: 300px;
    overflow-y: auto;
}

thead {
}


tbody td, thead th {
    width: 100%;
    float: left;
}

/*table-subs and table-description weighted % sum must equal 100%*/
.table-subs{
  width: 8%;
  float: left;
}

.table-description{
  width: 42%;
  float: left;
}
