
html, body, .container {
  height: 100% !important;
  width: 100%;
  padding: 0px;
}

.row {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.filters{
  height: 100%;
  padding: 0px;
}

.row-technologies{
  height: 35%;
}

.row-system-module{
  height: 65%;
}

.configurations {
  background-color: gray;
  height: 100%;
}

.technologies {
  background-color: blue;
  height: 100%;
  width: 100%;
  padding: 0;
}

.technologies .btn {
  padding: 6px 2px;
}

.system-module {
  background-color: lightblue;
  height: 100%;
  width: 100%;
}

.sm-box {
  background-color: gray;
}

.btn-xs ~ .dropdown-menu {
  font-size:10px;
}

.technologies .btn.active {                
	display: none;		
}

.technologies .btn span:nth-of-type(1)  {            	
	display: none;
}

.technologies .btn span:last-child  {            	
	display: block;		
}

.technologies .btn.active  span:nth-of-type(1)  {            	
	display: block;		
}

.technologies .btn.active span:last-child  {            	
	display: none;			
}